body {
  margin: 0;
  background-color: rgb(66 161 147);
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  font-family: 'Poppins', sans-serif !important;
}

button {
  border-radius: 30%;
  cursor: pointer;
  font-family: 'Poppins', sans-serif !important;
}

#btn:hover {
  background-color: rgb(45, 128, 119);
  box-shadow: -5px 5px 37.5px rgb(121 104 104 / 53%),
    10px -19px 37.5px rgb(181 103 103 / 4%),
    10px -19px 37.5px rgba(255, 255, 255, 0.038),
    inset 4px -4px 8px rgb(47 42 42 / 53%),
    inset -5px 5px 12px #10493f;
  font-family: 'Poppins', sans-serif !important;
}

.div {
  background-color: #5bc1a8;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 10px;
  box-shadow: -5px 5px 37.5px rgb(149 118 118 / 53%),
    10px -19px 37.5px rgba(156, 150, 150, 0.038),
    10px -19px 37.5px rgba(255, 255, 255, 0.038),
    inset 4px -4px 8px rgb(0, 0, 0, 0.53),
    inset -5px 5px 12px #74817b;
}

.calc {
  width: 329px;
  height: 40px;
  margin-bottom: 15px;
  font-weight: bolder;
  font-size: 25px;
  border: solid 2px black;
  border-radius: 10px !important;
  background-color: rgb(57 157 147);
  box-shadow: -5px 5px 37.5px rgb(121 104 104 / 53%),
    10px -19px 37.5px rgb(181 103 103 / 4%),
    10px -19px 37.5px rgba(255, 255, 255, 0.038),
    inset 4px -4px 8px rgb(47 42 42 / 53%),
    inset -5px 5px 12px #10493f;
  border: none;
}

.main-div {
  width: 289px;
  display: grid;
  grid-template-columns: repeat(4, auto);
  text-align: center;
  grid-gap: 10px;
}

.main-div button {
  width: 75px;
  height: 50px;
  border: 2px solid;
  font-weight: bolder;
  font-size: 21px;
  font-family: "Permanent Marker", cursive;
  background-color: rgb(57 157 147);
  box-shadow: -5px 5px 37.5px rgb(121 104 104 / 53%),
    10px -19px 37.5px rgb(181 103 103 / 4%),
    10px -19px 37.5px rgba(255, 255, 255, 0.038),
    inset 4px -4px 8px rgb(47 42 42 / 53%),
    inset -5px 5px 12px #10493f;
  border: none !important;
  outline: none !important;
}

.point {
  font-size: 25px;
}

.clear {
  background-color: rgb(57 157 147);
  box-shadow: -5px 5px 37.5px rgb(121 104 104 / 53%),
    10px -19px 37.5px rgb(181 103 103 / 4%),
    10px -19px 37.5px rgba(255, 255, 255, 0.038),
    inset 4px -4px 8px rgb(47 42 42 / 53%),
    inset -5px 5px 12px #10493f;
  font-weight: bolder;
  margin-top: 15px;
  border: solid 2px black;
  font-family: "Permanent Marker", cursive;
  border-radius: 10px !important;
  font-size: 18px;
  width: 100%;
  border: none;
}

.clear:hover {
  background-color: rgb(45, 128, 119);
}