* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.folio {
    color: #08ebac !important;
}

#fa-brands {
    color: white;
    margin-right: 17px;
}

#fa-brands:hover {
    color: #08ebac;
}

.navbar {
    background-color: rgb(20 78 50);
    box-shadow: none !important;
}

.anchor {
    padding-right: 25px;
    font-family: 'Poppins', sans-serif;
    color: white !important;

}

.anchor:hover {
    color: #08ebac !important;
}

#fa-brands {
    color: white;
    margin-right: 17px;
}

#fa-brands:hover {
    color: #08ebac;
}

#btn:hover {
    color: black !important;
    background-color: #08ebac !important;
    border-color: #08ebac;
}

#btn {
    background-color: transparent !important;
    border-color: #08ebac !important;
    color: #08ebac !important;
}

#btn2 {
    color: var(--bs-btn-hover-color) !important;
    background-color: #08ebac !important;
    border-color: #08ebac !important;
    color: black !important;
}

#btn2:hover {
    background-color: transparent !important;
    border-color: #08ebac !important;
    color: #08ebac !important;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out !important;
}

#CV:hover {
    background-color: transparent !important;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.profile {
    height: 100% !important;
    width: 70% !important;
}

.gld {
    color: #08ebac !important;
}

#mb-3 {
    font-size: 35px !important;
    color: white !important;
}

.goldleaf {
    color: #08ebac;
}

.httml {
    color: white;
}

.bg-1 {
    background-color: #f06529 !important;
}

.bg-2 {
    background-color: #264de4 !important;
}

.bg-3 {
    background-color: #f0db4f !important;
}

.bg-4 {
    background-color: #563d7c !important;
}

.bg-3 {
    background-color: #f0db4f !important;
}

.daba {
    display: flex;
    justify-content: space-between;
}

.mb-4 {
    margin-bottom: 1.5rem !important;
}

.brdr {
    border: 5px solid #08ebac !important;
}

.bg {
    background-color: #08ebac;
}

.bo {
    border: 2px solid black !important;
    padding: 12px 14px;
}

.bo:hover {
    background: black !important;
    transition: 0.5s;
}

.ff:hover {
    color: #08ebac !important;
}

.text-gold {
    color: #08ebac !important;
}

.send {
    background-color: #08ebac !important;
    color: black !important;
    border: none !important;
    outline: none !important;
    font-weight: bold !important;
}

.send:hover {
    background-color: #10ad81 !important;
}

.cont {
    color: #08ebac !important;
}

.foot-head {
    color: #08ebac;
}

.footer-end {
    text-transform: uppercase;
    opacity: .8;
    font-weight: bold;
    color: #08ebac;
}

.icons:hover {
    background-color: transparent !important;
    color: #08ebac !important;
    border: 1px solid #08ebac !important;
    transform: translate(0px, -3px);
    transition: 0.5s;
}

.whole {
    font-family: 'Poppins', sans-serif;
}

.footshd {
    box-shadow: 0px -1px 2px #ffffff2a;
}